<template>
  <li
    class="list-group-item d-flex justify-content-between"
    v-on:click="$emit('complete-task')"
  >
    <span style='max-width:80%'>{{task.description}}</span>
    <span v-if="task.is_completed" class="fas fa-check-circle" style='font-size:1em;color:green'></span>
    <span v-if="!task.is_completed" class="far fa-check-circle" style='font-size:1em;color:silver'></span>
  </li>
</template>

<script>
export default {
  props: {
    task: {
      type: Object,
      required: true
    }
  },
  data: function() {
    return {};
  },
  mounted() {}
};
</script>