<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-sm-12 card">
        <div class="card-header">Pending Tasks</div>
        <ul class="list-group list-group">
          <task
            v-on:complete-task="completeTask(task)"
            v-for="(task, index) in pending_tasks"
            :task ="task"
            :index="index"
            :key="index"
          >
          </task>
        </ul>
      </div>
      <div class="col-md-4 col-sm-12 card">
        <div class="card-header">Completed Tasks</div>
        <ul class="list-group list-group">
          <task
            v-for="(task, index) in completed_tasks"
            :task ="task"
            :index="index"
            :key="index"
          >
          </task>
        </ul>
      </div>
      <div class="col-md-4 col-sm-12 card">
        <div class="card-header">Graph Holder</div>
        <div class="card-body">
          <chart-component :data="chart_data"></chart-component>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["api_token"],
  data: function() {
    return {
      task_list: [],
      chart_data:{},
    };
  },
  computed: {
    completed_tasks: function() {
      return this.task_list.filter(function(task) {
        return task.is_completed == true;
      });
    },
    pending_tasks: function() {
      return this.task_list.filter(function(task) {
        return task.is_completed == false;
      });
    }
  },
  watch:{
    completed_tasks: function(newValue,oldValue){
      console.log('Watching list....');
      axios
      .get("/api/past_hour_stats", {
        params: {
          api_token: this.api_token
        }
      })
      .then(response => {
        console.log(response);
        this.chart_data = response.data;
      });
    }
  },
  methods: {
    completeTask: function(task) {
      axios
        .post("/api/complete_task", {
          task_id: task.id,
          api_token: this.api_token
        })
        .then(response => {
          task.is_completed = 1;
        });
    }
  },
  mounted() {
    axios
      .get("/api/list", {
        params: {
          api_token: this.api_token
        }
      })
      .then(response => {
        this.task_list = response.data.data;
      });
  }
};
</script>
